@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

/*---Inicio cabeçalho---*/

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 560px;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB80;
  }

.banner .banner-content {
    width: 520px;
    height: 393px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-content p {
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.banner-content h1 {
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
    margin: 16px auto;
}

.banner-button {
    all: unset;
    border: 2px solid #3BA1CD;
    color: #31A8DD;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.36px;
    margin-bottom: 94px;
    margin-top: 24px;
    width: 326px;
    height: 57px;
    padding: 19px;
    text-align: center;
    text-transform: uppercase;
}

/*---Fim cabeçalho---*/

/*---Inicio course-content---*/

#course-content {
    width: auto;
    height: 325px;
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 118px 324px;
}

.container-course-content {
    width: 792px;
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-course-content h2 {
    color: #33A8DB;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.08px;
    text-transform: uppercase;
}

.container-course-content p {
    margin-top: 24px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modules-list {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modules-list .module {
    border-radius: 57px;
    border: 1px solid #33A8DB;
    background: #252525;
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;
    margin-top: 24px;
    display: flex;
    width: 535px;
    padding: 16px 127px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.modules-list .module span{
    color: #33A8DB;
}

/*---Fim course-content---*/